{
  "openapi": "3.0.3",
  "info": {
    "title": "SocialAPI.AI",
    "description": "Unified social media inbox API. Read and respond to comments, DMs, reviews, and mentions across Instagram, Facebook, Google Reviews, TikTok, YouTube, X/Twitter, Trustpilot, and LinkedIn through a single REST API.",
    "version": "1.0.0",
    "contact": {
      "name": "SocialAPI.AI Support",
      "email": "support@social-api.ai"
    }
  },
  "servers": [
    {
      "url": "https://api.social-api.ai/v1",
      "description": "Production"
    }
  ],
  "security": [
    { "BearerAuth": [] }
  ],
  "components": {
    "securitySchemes": {
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "Pass your API key as a Bearer token. Keys have the format `sk_live_...` and are created in the dashboard."
      }
    },
    "schemas": {
      "ErrorResponse": {
        "type": "object",
        "required": ["error", "code"],
        "properties": {
          "error": {
            "type": "string",
            "description": "Human-readable error message.",
            "example": "account not found"
          },
          "code": {
            "type": "string",
            "description": "Machine-readable error code.",
            "example": "account_not_found"
          }
        }
      },
      "Author": {
        "type": "object",
        "required": ["id", "name", "avatar_url"],
        "properties": {
          "id": {
            "type": "string",
            "description": "Platform-native user ID.",
            "example": "17841405793187218"
          },
          "name": {
            "type": "string",
            "description": "Display name of the author.",
            "example": "Jane Smith"
          },
          "avatar_url": {
            "type": "string",
            "description": "URL of the author's profile photo.",
            "example": "https://example.com/avatar.jpg"
          }
        }
      },
      "Media": {
        "type": "object",
        "required": ["url", "type"],
        "properties": {
          "url": {
            "type": "string",
            "description": "Direct URL to the media asset.",
            "example": "https://cdn.example.com/photo.jpg"
          },
          "type": {
            "type": "string",
            "description": "Media type (image, video, etc.).",
            "example": "image"
          }
        }
      },
      "Content": {
        "type": "object",
        "required": ["text"],
        "properties": {
          "text": {
            "type": "string",
            "description": "Text content of the interaction.",
            "example": "Love this product! Really glad I found it."
          },
          "media": {
            "type": "array",
            "description": "Attached media, if any.",
            "items": { "$ref": "#/components/schemas/Media" }
          }
        }
      },
      "Interaction": {
        "type": "object",
        "required": ["id", "platform", "type", "author", "content", "metadata", "created_at", "account_id", "platform_id"],
        "properties": {
          "id": {
            "type": "string",
            "description": "Stable SocialAPI ID. Prefix encodes type: `socapi_cmt_` (comment), `socapi_rev_` (review), `socapi_dm_` (DM), `socapi_mnt_` (mention).",
            "example": "socapi_cmt_aW5zdGFncmFtOjE3ODQxNDA1"
          },
          "platform": {
            "type": "string",
            "description": "Social platform name.",
            "example": "instagram"
          },
          "type": {
            "type": "string",
            "enum": ["comment", "review", "dm", "mention"],
            "description": "Interaction type.",
            "example": "comment"
          },
          "author": { "$ref": "#/components/schemas/Author" },
          "content": { "$ref": "#/components/schemas/Content" },
          "metadata": {
            "type": "object",
            "description": "Platform-specific extra fields (post ID, star rating, etc.).",
            "additionalProperties": true
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "description": "When the interaction was created on the platform.",
            "example": "2026-02-15T14:30:00Z"
          },
          "account_id": {
            "type": "string",
            "description": "ID of the connected account this interaction belongs to.",
            "example": "acc_01HZ9X3Q4R5M6N7P8V2K0W1J"
          },
          "platform_id": {
            "type": "string",
            "description": "The platform's own native ID for this interaction.",
            "example": "17841405793187218"
          }
        }
      },
      "Account": {
        "type": "object",
        "required": ["id", "platform", "name", "username"],
        "properties": {
          "id": {
            "type": "string",
            "description": "SocialAPI account ID. Use this as the `:id` path parameter.",
            "example": "acc_01HZ9X3Q4R5M6N7P8V2K0W1J"
          },
          "platform": {
            "type": "string",
            "description": "Social platform name.",
            "example": "instagram"
          },
          "name": {
            "type": "string",
            "description": "Display name of the connected account.",
            "example": "Acme Corp"
          },
          "username": {
            "type": "string",
            "description": "Handle or username on the platform.",
            "example": "acmecorp"
          }
        }
      },
      "AccountsListResponse": {
        "type": "object",
        "required": ["data", "count"],
        "properties": {
          "data": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/Account" }
          },
          "count": {
            "type": "integer",
            "description": "Total number of active connected accounts.",
            "example": 2
          }
        }
      },
      "InteractionsListResponse": {
        "type": "object",
        "required": ["data", "count"],
        "properties": {
          "data": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/Interaction" }
          },
          "count": {
            "type": "integer",
            "description": "Number of interactions returned.",
            "example": 42
          }
        }
      },
      "Reply": {
        "type": "object",
        "required": ["id", "created_at"],
        "properties": {
          "id": {
            "type": "string",
            "description": "SocialAPI ID for the newly created reply.",
            "example": "socapi_cmt_cmVwbHk6MTIzNDU2Nzg5"
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "description": "When the reply was created.",
            "example": "2026-02-15T14:35:00Z"
          }
        }
      },
      "ReplyRequest": {
        "type": "object",
        "required": ["text"],
        "properties": {
          "text": {
            "type": "string",
            "description": "Reply text content.",
            "example": "Thanks for your feedback! We're glad you enjoyed it."
          },
          "private": {
            "type": "boolean",
            "description": "Send the reply as a private/direct message when the platform supports it. Ignored for review replies.",
            "default": false,
            "example": false
          }
        }
      },
      "SendDMRequest": {
        "type": "object",
        "required": ["text"],
        "properties": {
          "text": {
            "type": "string",
            "description": "Message text content.",
            "example": "Hi! How can we help you today?"
          }
        }
      },
      "ModerateCommentRequest": {
        "type": "object",
        "required": ["action"],
        "properties": {
          "action": {
            "type": "string",
            "enum": ["hide", "unhide", "delete"],
            "description": "Moderation action to apply.",
            "example": "hide"
          }
        }
      },
      "TogglePostCommentsRequest": {
        "type": "object",
        "required": ["enabled"],
        "properties": {
          "enabled": {
            "type": "boolean",
            "description": "Set to `true` to enable comments on the post, `false` to disable.",
            "example": false
          }
        }
      },
      "UsageResponse": {
        "type": "object",
        "required": ["calls_used", "daily_limit", "period_start"],
        "properties": {
          "calls_used": {
            "type": "integer",
            "description": "Number of API calls made in the current daily window.",
            "example": 247
          },
          "daily_limit": {
            "type": "integer",
            "description": "Maximum calls allowed per day on your plan. -1 means unlimited.",
            "example": 1000
          },
          "period_start": {
            "type": "string",
            "format": "date-time",
            "description": "Start of the current billing period.",
            "example": "2026-02-01T00:00:00Z"
          }
        }
      },
      "UsageLimitsResponse": {
        "type": "object",
        "description": "Platform-specific quota keys mapping to remaining counts. Keys are platform-defined (e.g. Instagram returns `posts_remaining`). Platforms without usage limits return an empty object.",
        "additionalProperties": {
          "type": "integer"
        },
        "example": { "posts_remaining": 198 }
      },
      "DMThreadResponse": {
        "type": "object",
        "required": ["thread_id"],
        "properties": {
          "thread_id": {
            "type": "string",
            "description": "Platform thread ID for this DM conversation.",
            "example": "t_17841405793187218"
          }
        }
      },
      "OKResponse": {
        "type": "object",
        "required": ["ok"],
        "properties": {
          "ok": {
            "type": "boolean",
            "example": true
          }
        }
      },
      "KeyListItem": {
        "type": "object",
        "required": ["id", "name", "preview", "rate_limit", "is_active", "created_at"],
        "properties": {
          "id": {
            "type": "string",
            "description": "Key UUID. Use this as the `:id` parameter when revoking.",
            "example": "e4f2a1b3-0c5d-4e6f-a789-1b2c3d4e5f6a"
          },
          "name": {
            "type": "string",
            "description": "Friendly name for the key.",
            "example": "Production App"
          },
          "preview": {
            "type": "string",
            "description": "Truncated preview of the key (suffix only). The full key is only shown at creation.",
            "example": "sk_live_a1b2..."
          },
          "rate_limit": {
            "type": "integer",
            "description": "Daily call limit for this key (based on plan tier).",
            "example": 1000
          },
          "is_active": {
            "type": "boolean",
            "description": "Whether the key is currently active.",
            "example": true
          },
          "last_used_at": {
            "type": "string",
            "format": "date-time",
            "nullable": true,
            "description": "When this key was last used. Null if never used.",
            "example": "2026-02-28T12:00:00Z"
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "description": "When this key was created.",
            "example": "2026-02-28T12:00:00Z"
          }
        }
      },
      "KeysListResponse": {
        "type": "object",
        "required": ["data", "count"],
        "properties": {
          "data": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/KeyListItem" }
          },
          "count": {
            "type": "integer",
            "example": 3
          }
        }
      },
      "CreateKeyRequest": {
        "type": "object",
        "required": ["name"],
        "properties": {
          "name": {
            "type": "string",
            "description": "Friendly label for this key.",
            "example": "My App"
          }
        }
      },
      "CreateKeyResponse": {
        "type": "object",
        "required": ["id", "name", "raw_key", "message"],
        "properties": {
          "id": {
            "type": "string",
            "description": "Key UUID.",
            "example": "e4f2a1b3-0c5d-4e6f-a789-1b2c3d4e5f6a"
          },
          "name": {
            "type": "string",
            "example": "My App"
          },
          "raw_key": {
            "type": "string",
            "description": "The full API key. Shown only once — store it securely.",
            "example": "sk_live_a1b2c3d4e5f6a7b8c9d0e1f2a3b4c5d6e7f8a9b0c1d2e3f4a5b6c7d8e9f0a1"
          },
          "message": {
            "type": "string",
            "example": "Store this key securely. It will not be shown again."
          }
        }
      },
      "ConnectAccountRequest": {
        "type": "object",
        "required": ["platform"],
        "properties": {
          "platform": {
            "type": "string",
            "description": "Platform slug. One of: `instagram`, `facebook`, `google`, `tiktok`, `youtube`, `twitter`, `linkedin`, `trustpilot`.",
            "example": "instagram"
          },
          "metadata": {
            "type": "object",
            "description": "Platform-specific metadata. For OAuth2 platforms, pass `redirect_uri` (the URL to redirect back to after authorization).",
            "additionalProperties": true,
            "example": { "redirect_uri": "https://app.example.com/oauth/callback" }
          }
        }
      },
      "ConnectOAuthResponse": {
        "type": "object",
        "required": ["auth_url", "state"],
        "properties": {
          "auth_url": {
            "type": "string",
            "description": "Redirect your user to this URL to complete the OAuth authorization flow.",
            "example": "https://www.instagram.com/oauth/authorize?client_id=...&state=..."
          },
          "state": {
            "type": "string",
            "description": "CSRF state token. Pass this in the `metadata.state` field when calling `/oauth/exchange`.",
            "example": "4a8f2c1e9b3d7f06a5c2e8b4d1f3a7e2"
          }
        }
      },
      "ConnectDirectResponse": {
        "type": "object",
        "required": ["account_id", "platform", "username"],
        "properties": {
          "account_id": {
            "type": "string",
            "description": "The SocialAPI account ID. Use this as `:id` in all subsequent requests.",
            "example": "acc_01HZ9X3Q4R5M6N7P8V2K0W1J"
          },
          "platform": {
            "type": "string",
            "example": "instagram"
          },
          "username": {
            "type": "string",
            "description": "The connected account's username on the platform.",
            "example": "acmecorp"
          }
        }
      },
      "OAuthExchangeRequest": {
        "type": "object",
        "required": ["platform", "code", "metadata"],
        "properties": {
          "platform": {
            "type": "string",
            "description": "Platform slug matching the one used in `/accounts/connect`.",
            "example": "instagram"
          },
          "code": {
            "type": "string",
            "description": "The authorization code received in the OAuth callback.",
            "example": "AQDtbPB9X..."
          },
          "metadata": {
            "type": "object",
            "description": "Must include `state` (from connect response) and `redirect_uri` (must match the one used in connect).",
            "required": ["state", "redirect_uri"],
            "properties": {
              "state": {
                "type": "string",
                "description": "The state value from the `POST /accounts/connect` response.",
                "example": "4a8f2c1e9b3d7f06a5c2e8b4d1f3a7e2"
              },
              "redirect_uri": {
                "type": "string",
                "description": "Must exactly match the redirect_uri used in the connect request.",
                "example": "https://app.example.com/oauth/callback"
              }
            },
            "additionalProperties": true
          }
        }
      }
    },
    "parameters": {
      "accountId": {
        "name": "id",
        "in": "path",
        "required": true,
        "description": "Connected account ID (from `GET /accounts`).",
        "schema": { "type": "string", "example": "acc_01HZ9X3Q4R5M6N7P8V2K0W1J" }
      },
      "interactionId": {
        "name": "iid",
        "in": "path",
        "required": true,
        "description": "SocialAPI interaction ID (prefix encodes the type).",
        "schema": { "type": "string", "example": "socapi_cmt_aW5zdGFncmFtOjE3ODQxNDA1" }
      },
      "since": {
        "name": "since",
        "in": "query",
        "description": "Return interactions created after this timestamp (RFC3339).",
        "schema": { "type": "string", "format": "date-time", "example": "2026-02-01T00:00:00Z" }
      },
      "limit": {
        "name": "limit",
        "in": "query",
        "description": "Maximum number of results to return (1–100, default 50).",
        "schema": { "type": "integer", "minimum": 1, "maximum": 100, "default": 50 }
      },
      "cursor": {
        "name": "cursor",
        "in": "query",
        "description": "Pagination cursor returned in the previous response.",
        "schema": { "type": "string" }
      }
    },
    "responses": {
      "Unauthorized": {
        "description": "Invalid or missing API key.",
        "content": {
          "application/json": {
            "schema": { "$ref": "#/components/schemas/ErrorResponse" },
            "example": { "error": "invalid or missing API key", "code": "unauthorized" }
          }
        }
      },
      "RateLimited": {
        "description": "Daily API call limit exceeded for your plan.",
        "content": {
          "application/json": {
            "schema": { "$ref": "#/components/schemas/ErrorResponse" },
            "example": { "error": "daily API call limit exceeded for your plan", "code": "rate_limit_exceeded" }
          }
        }
      },
      "NotFound": {
        "description": "Resource not found.",
        "content": {
          "application/json": {
            "schema": { "$ref": "#/components/schemas/ErrorResponse" },
            "example": { "error": "account not found", "code": "account_not_found" }
          }
        }
      },
      "NotSupported": {
        "description": "This operation is not supported on the connected platform.",
        "content": {
          "application/json": {
            "schema": { "$ref": "#/components/schemas/ErrorResponse" },
            "example": { "error": "operation not supported for this platform", "code": "not_supported" }
          }
        }
      }
    }
  },
  "tags": [
    { "name": "Accounts", "description": "Manage connected social accounts and OAuth flows." },
    { "name": "Comments", "description": "Read and reply to comments." },
    { "name": "DMs", "description": "Read and send direct messages." },
    { "name": "Reviews", "description": "Read and reply to reviews." },
    { "name": "Mentions", "description": "Read mentions." },
    { "name": "Moderation", "description": "Moderate comments and control post settings." },
    { "name": "Usage", "description": "Check API usage and plan limits." },
    { "name": "Keys", "description": "Manage API keys." },
    { "name": "Users", "description": "Manage your user account." },
    { "name": "Search", "description": "Cross-platform search (coming soon)." }
  ],
  "paths": {
    "/accounts": {
      "get": {
        "tags": ["Accounts"],
        "summary": "List connected accounts",
        "description": "Returns all active social media accounts connected to the authenticated API key's workspace.",
        "operationId": "listAccounts",
        "responses": {
          "200": {
            "description": "List of connected accounts.",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/AccountsListResponse" },
                "example": {
                  "data": [
                    { "id": "acc_01HZ9X3Q4R5M6N7P8V2K0W1J", "platform": "instagram", "name": "Acme Corp", "username": "acmecorp" }
                  ],
                  "count": 1
                }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "429": { "$ref": "#/components/responses/RateLimited" }
        }
      }
    },
    "/accounts/connect": {
      "post": {
        "tags": ["Accounts"],
        "summary": "Connect a social account",
        "description": "Initiates account connection.\n\n- **OAuth2 platforms** (Instagram, Facebook, etc.): Returns HTTP 202 with an `auth_url`. Redirect your user to that URL. After authorization, the platform redirects to your `redirect_uri` with a `code` and `state`. Call `POST /oauth/exchange` to complete the flow.\n- **Direct auth platforms** (API key / credentials): Returns HTTP 201 with the new `account_id` immediately.",
        "operationId": "connectAccount",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/ConnectAccountRequest" }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Account connected (direct auth platforms).",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ConnectDirectResponse" }
              }
            }
          },
          "202": {
            "description": "OAuth2 flow initiated. Redirect your user to `auth_url`.",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ConnectOAuthResponse" }
              }
            }
          },
          "400": {
            "description": "Missing or unsupported platform.",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" },
                "examples": {
                  "missing_platform": { "value": { "error": "platform is required", "code": "missing_metadata" } },
                  "unsupported": { "value": { "error": "platform not supported", "code": "unsupported_platform" } }
                }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "409": {
            "description": "Account already connected.",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" },
                "example": { "error": "account already connected", "code": "account_already_linked" }
              }
            }
          }
        }
      }
    },
    "/oauth/exchange": {
      "post": {
        "tags": ["Accounts"],
        "summary": "Complete OAuth2 account connection",
        "description": "Exchanges an OAuth2 authorization code for tokens and stores the connected account.\n\nThe `state` value from the `/accounts/connect` response is one-time-use and validated server-side (CSRF protection). It expires after 10 minutes.",
        "operationId": "oauthExchange",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/OAuthExchangeRequest" }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Account connected successfully.",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ConnectDirectResponse" }
              }
            }
          },
          "400": {
            "description": "Missing/expired state or invalid request.",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" },
                "example": { "error": "invalid or expired state", "code": "missing_metadata" }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "403": {
            "description": "State token belongs to a different API key.",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" },
                "example": { "error": "state does not belong to this API key", "code": "unauthorized" }
              }
            }
          }
        }
      }
    },
    "/accounts/{id}/comments": {
      "get": {
        "tags": ["Comments"],
        "summary": "List comments",
        "description": "Returns comments for the connected account, in reverse-chronological order.",
        "operationId": "getComments",
        "parameters": [
          { "$ref": "#/components/parameters/accountId" },
          { "$ref": "#/components/parameters/since" },
          { "$ref": "#/components/parameters/limit" },
          { "$ref": "#/components/parameters/cursor" }
        ],
        "responses": {
          "200": {
            "description": "Paginated list of comments.",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/InteractionsListResponse" }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "404": { "$ref": "#/components/responses/NotFound" },
          "429": { "$ref": "#/components/responses/RateLimited" },
          "501": { "$ref": "#/components/responses/NotSupported" }
        }
      }
    },
    "/accounts/{id}/interactions/{iid}/replies": {
      "get": {
        "tags": ["Comments"],
        "summary": "List comment replies",
        "description": "Returns the reply thread for a comment. Only valid for `socapi_cmt_` IDs.",
        "operationId": "getCommentReplies",
        "parameters": [
          { "$ref": "#/components/parameters/accountId" },
          { "$ref": "#/components/parameters/interactionId" },
          { "$ref": "#/components/parameters/since" },
          { "$ref": "#/components/parameters/limit" },
          { "$ref": "#/components/parameters/cursor" }
        ],
        "responses": {
          "200": {
            "description": "Reply thread.",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/InteractionsListResponse" }
              }
            }
          },
          "400": {
            "description": "Invalid interaction ID format.",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "404": { "$ref": "#/components/responses/NotFound" },
          "429": { "$ref": "#/components/responses/RateLimited" }
        }
      }
    },
    "/accounts/{id}/interactions/{iid}/reply": {
      "post": {
        "tags": ["Comments"],
        "summary": "Reply to a comment or review",
        "description": "Posts a reply to a comment (`socapi_cmt_`) or review (`socapi_rev_`).\n\nSet `private: true` to send the reply as a private message instead of a public reply (supported on some platforms, e.g. Instagram). The `private` field is ignored for reviews.",
        "operationId": "replyToInteraction",
        "parameters": [
          { "$ref": "#/components/parameters/accountId" },
          { "$ref": "#/components/parameters/interactionId" }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": { "schema": { "$ref": "#/components/schemas/ReplyRequest" } }
          }
        },
        "responses": {
          "201": {
            "description": "Reply created.",
            "content": {
              "application/json": { "schema": { "$ref": "#/components/schemas/Reply" } }
            }
          },
          "400": {
            "description": "Invalid interaction ID or missing text.",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "404": { "$ref": "#/components/responses/NotFound" },
          "429": { "$ref": "#/components/responses/RateLimited" },
          "501": { "$ref": "#/components/responses/NotSupported" }
        }
      }
    },
    "/accounts/{id}/dms": {
      "get": {
        "tags": ["DMs"],
        "summary": "List DM threads",
        "description": "Returns direct message conversations for the connected account.",
        "operationId": "getDMs",
        "parameters": [
          { "$ref": "#/components/parameters/accountId" },
          { "$ref": "#/components/parameters/since" },
          { "$ref": "#/components/parameters/limit" },
          { "$ref": "#/components/parameters/cursor" }
        ],
        "responses": {
          "200": {
            "description": "Paginated list of DM conversations.",
            "content": {
              "application/json": { "schema": { "$ref": "#/components/schemas/InteractionsListResponse" } }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "404": { "$ref": "#/components/responses/NotFound" },
          "429": { "$ref": "#/components/responses/RateLimited" },
          "501": { "$ref": "#/components/responses/NotSupported" }
        }
      }
    },
    "/accounts/{id}/dms/thread": {
      "get": {
        "tags": ["DMs"],
        "summary": "Get DM thread ID for a user",
        "description": "Returns the thread ID of an existing DM conversation with a platform user. Returns 404 if no prior conversation exists. Use `POST /accounts/{id}/interactions/{iid}/reply` with `private: true` to initiate contact from a comment instead.",
        "operationId": "getDMThread",
        "parameters": [
          { "$ref": "#/components/parameters/accountId" },
          {
            "name": "user_id",
            "in": "query",
            "required": true,
            "description": "Platform-native user ID to look up.",
            "schema": { "type": "string", "example": "17841405793187218" }
          }
        ],
        "responses": {
          "200": {
            "description": "Thread ID found.",
            "content": {
              "application/json": { "schema": { "$ref": "#/components/schemas/DMThreadResponse" } }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "404": { "$ref": "#/components/responses/NotFound" },
          "429": { "$ref": "#/components/responses/RateLimited" },
          "501": { "$ref": "#/components/responses/NotSupported" }
        }
      }
    },
    "/accounts/{id}/dms/{tid}/send": {
      "post": {
        "tags": ["DMs"],
        "summary": "Send a direct message",
        "description": "Sends a message to an existing DM thread.",
        "operationId": "sendDM",
        "parameters": [
          { "$ref": "#/components/parameters/accountId" },
          {
            "name": "tid",
            "in": "path",
            "required": true,
            "description": "Thread ID from `GET /accounts/{id}/dms/thread` or the `id` field of a DM interaction.",
            "schema": { "type": "string", "example": "t_17841405793187218" }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": { "schema": { "$ref": "#/components/schemas/SendDMRequest" } }
          }
        },
        "responses": {
          "201": {
            "description": "Message sent.",
            "content": {
              "application/json": { "schema": { "$ref": "#/components/schemas/Reply" } }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "404": { "$ref": "#/components/responses/NotFound" },
          "429": { "$ref": "#/components/responses/RateLimited" },
          "501": { "$ref": "#/components/responses/NotSupported" }
        }
      }
    },
    "/accounts/{id}/reviews": {
      "get": {
        "tags": ["Reviews"],
        "summary": "List reviews",
        "description": "Returns reviews for the connected account (e.g. Google Reviews, Trustpilot). Returns 501 for platforms that do not have a review concept (e.g. Instagram).",
        "operationId": "getReviews",
        "parameters": [
          { "$ref": "#/components/parameters/accountId" },
          { "$ref": "#/components/parameters/since" },
          { "$ref": "#/components/parameters/limit" },
          { "$ref": "#/components/parameters/cursor" }
        ],
        "responses": {
          "200": {
            "description": "Paginated list of reviews.",
            "content": {
              "application/json": { "schema": { "$ref": "#/components/schemas/InteractionsListResponse" } }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "404": { "$ref": "#/components/responses/NotFound" },
          "429": { "$ref": "#/components/responses/RateLimited" },
          "501": { "$ref": "#/components/responses/NotSupported" }
        }
      }
    },
    "/accounts/{id}/mentions": {
      "get": {
        "tags": ["Mentions"],
        "summary": "List mentions",
        "description": "Returns posts and comments that mention the connected account.",
        "operationId": "getMentions",
        "parameters": [
          { "$ref": "#/components/parameters/accountId" },
          { "$ref": "#/components/parameters/since" },
          { "$ref": "#/components/parameters/limit" },
          { "$ref": "#/components/parameters/cursor" }
        ],
        "responses": {
          "200": {
            "description": "Paginated list of mentions.",
            "content": {
              "application/json": { "schema": { "$ref": "#/components/schemas/InteractionsListResponse" } }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "404": { "$ref": "#/components/responses/NotFound" },
          "429": { "$ref": "#/components/responses/RateLimited" },
          "501": { "$ref": "#/components/responses/NotSupported" }
        }
      }
    },
    "/accounts/{id}/interactions/{iid}/moderate": {
      "post": {
        "tags": ["Moderation"],
        "summary": "Moderate a comment",
        "description": "Hides, unhides, or deletes a comment. Only valid for `socapi_cmt_` IDs.\n\nActions:\n- `hide` — hides the comment from public view\n- `unhide` — makes a hidden comment visible again\n- `delete` — permanently deletes the comment (irreversible)\n\nReturns 501 if the platform does not support the requested action.",
        "operationId": "moderateComment",
        "parameters": [
          { "$ref": "#/components/parameters/accountId" },
          { "$ref": "#/components/parameters/interactionId" }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": { "schema": { "$ref": "#/components/schemas/ModerateCommentRequest" } }
          }
        },
        "responses": {
          "200": {
            "description": "Moderation applied.",
            "content": {
              "application/json": { "schema": { "$ref": "#/components/schemas/OKResponse" } }
            }
          },
          "400": {
            "description": "Invalid action or interaction ID.",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "404": { "$ref": "#/components/responses/NotFound" },
          "429": { "$ref": "#/components/responses/RateLimited" },
          "501": { "$ref": "#/components/responses/NotSupported" }
        }
      }
    },
    "/accounts/{id}/posts/{pid}/comments/toggle": {
      "post": {
        "tags": ["Moderation"],
        "summary": "Toggle comments on a post",
        "description": "Enables or disables the ability for users to comment on a specific post. Returns 501 if the platform does not support this setting.",
        "operationId": "togglePostComments",
        "parameters": [
          { "$ref": "#/components/parameters/accountId" },
          {
            "name": "pid",
            "in": "path",
            "required": true,
            "description": "Platform-native post ID.",
            "schema": { "type": "string", "example": "17841405793187218" }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": { "schema": { "$ref": "#/components/schemas/TogglePostCommentsRequest" } }
          }
        },
        "responses": {
          "200": {
            "description": "Setting applied.",
            "content": {
              "application/json": { "schema": { "$ref": "#/components/schemas/OKResponse" } }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "404": { "$ref": "#/components/responses/NotFound" },
          "429": { "$ref": "#/components/responses/RateLimited" },
          "501": { "$ref": "#/components/responses/NotSupported" }
        }
      }
    },
    "/usage": {
      "get": {
        "tags": ["Usage"],
        "summary": "Get API usage",
        "description": "Returns the number of API calls made in the current daily window and the limit for your plan. The window resets at midnight UTC.",
        "operationId": "getUsage",
        "responses": {
          "200": {
            "description": "Usage statistics.",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/UsageResponse" },
                "example": { "calls_used": 247, "daily_limit": 1000, "period_start": "2026-02-01T00:00:00Z" }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" }
        }
      }
    },
    "/accounts/{id}/limits": {
      "get": {
        "tags": ["Usage"],
        "summary": "Get platform usage limits",
        "description": "Returns platform-specific quota information for the connected account (e.g. remaining posts for Instagram). Keys are platform-defined. An empty object means the platform does not expose quota data.",
        "operationId": "getAccountLimits",
        "parameters": [
          { "$ref": "#/components/parameters/accountId" }
        ],
        "responses": {
          "200": {
            "description": "Platform quota data.",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/UsageLimitsResponse" }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "404": { "$ref": "#/components/responses/NotFound" },
          "429": { "$ref": "#/components/responses/RateLimited" }
        }
      }
    },
    "/keys": {
      "get": {
        "tags": ["Keys"],
        "summary": "List API keys",
        "description": "Returns all API keys in the workspace. The `preview` field shows only a truncated suffix — the full key is only available at creation time.",
        "operationId": "listKeys",
        "responses": {
          "200": {
            "description": "List of API keys.",
            "content": {
              "application/json": { "schema": { "$ref": "#/components/schemas/KeysListResponse" } }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" }
        }
      },
      "post": {
        "tags": ["Keys"],
        "summary": "Create an API key",
        "description": "Generates a new API key. The full key is returned **only once** in `raw_key` — store it immediately. Subsequent calls to `GET /keys` will only show a truncated preview.",
        "operationId": "createKey",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": { "schema": { "$ref": "#/components/schemas/CreateKeyRequest" } }
          }
        },
        "responses": {
          "201": {
            "description": "Key created. The `raw_key` is shown only once.",
            "content": {
              "application/json": { "schema": { "$ref": "#/components/schemas/CreateKeyResponse" } }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" }
        }
      }
    },
    "/keys/{id}": {
      "delete": {
        "tags": ["Keys"],
        "summary": "Revoke an API key",
        "description": "Permanently deactivates an API key. The key will immediately stop working for all requests.",
        "operationId": "revokeKey",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Key ID from `GET /keys`.",
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "204": { "description": "Key revoked." },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "404": { "$ref": "#/components/responses/NotFound" }
        }
      }
    },
    "/users/me": {
      "delete": {
        "tags": ["Users"],
        "summary": "Delete your account",
        "description": "Soft-deletes your user account. All connected social accounts and API keys are also deactivated. This action is irreversible.",
        "operationId": "deleteUser",
        "responses": {
          "204": { "description": "Account deleted." },
          "401": { "$ref": "#/components/responses/Unauthorized" }
        }
      }
    },
    "/search": {
      "get": {
        "tags": ["Search"],
        "summary": "Search across all accounts",
        "description": "Fan-out search across all connected accounts and platforms. **Not yet implemented — returns 501.**",
        "operationId": "search",
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "required": true,
            "description": "Search query string.",
            "schema": { "type": "string", "example": "shipping delay" }
          }
        ],
        "responses": {
          "501": { "$ref": "#/components/responses/NotSupported" },
          "401": { "$ref": "#/components/responses/Unauthorized" }
        }
      }
    }
  }
}
